$fnt-ppl: "Sofia Sans", sans-serif;
$fnt-scnd: "Raleway", sans-serif;
$fnt-thrd: "Arial";

$degr-ini: rgb(255, 255, 255);
$degr-end: rgb(214, 214, 214);

$degr-ini-pst: rgb(223, 223, 223);
$degr-end-pst: rgb(255, 255, 255, 0.1);

$fnd-clr: #d6d6d6;
$fnd-sclr: #ebebeb;
$lg-h1: #ffffff;
$lg-h2: #fcfcfc;

$cnt-a: #d33f49;
$cnt-ahvr: #262730;
$cnt-btn: #77ba99;

$h2-cntnd: #403f4c;
$h3-cntnd: #5f7470;
$h5-cntnd: #b4c8c5;
