/*  Footer */
.footer-mio {
  margin-top: 15px;
  text-align: center;
  ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    li {
      display: inline;
      margin-left: 12px;
      margin-right: 12px;
      img {
        transition: transform 0.3s ease;
        &:hover {
          transform: all (25deg);
          -webkit-transform: rotate(25deg);
          -moz-transform: rotate(25deg);
          rotate: (25deg);
          opacity: 0.5;
        }
      }
    }
  }
}
